# export MONGO_URL=mongodb://localhost:27017/greenhouse-api
# export DATABASE=greenhouse-api

export MONGO_URL=""
export DATABASE=""
export PORT=":9000"
export BROKER_URL="ssl://*************.us-east-1.amazonaws.com:8883"
export CERT_FILE="/********/greenhouse_01_humidity.cert.pem"
export PRIVATE_FILE="/********/greenhouse_01_humidity.private.key"
export CA_FILE="/********/root-CA.crt"
export WATER_PUMP_SUBSCRIBE="esp32/**********/pub"
export WATER_PUMP_PUBLISHER="esp32/**********/sub/"